@using DB_management.Models;
@{
    ViewData["Title"] = "维度查询";
    var data = (List<Dimension_Information_Model>) ViewData["data"];
}
<div style="width: 975px;height: 500px;margin-left: 70px;margin-right: 70px;background: rgba(255, 255, 255, 0.65);border: solid 3px;border-color: #0aafb7;overflow-y:auto; overflow-x:auto;">
    <div>
        <h2 align="center">维度查询</h2>
        <hr />
        <form  action="/WD_/query_wd_1" method="post">
            <div style="margin-top:15px;margin-left:30px;">
                <label style="width:220px">查询同一维度下所有信息:</label>
                <label>请输入维度名称</label>
                <input name="wd_name" value=@ViewData["wd_name1"] />
                <input type="submit" style="margin-left:10px" value="确定" />
            </div>
        </form>
        <hr />
        <form  action="/WD_/query_wd_2" method="post"> 
            <div style="margin-top:15px;margin-left:30px;">
                <label style="width:220px">查询父类下所有信息:</label>
                <label>请输入维度名称</label>
                <input name="wd_name" value=@ViewData["wd_name2"] />
                <label>请输入父类id</label>
                <input name="pf_name" value=@ViewData["pf_name2"] />
                <input type="submit" style="margin-left:10px" value="确定" />
            </div>
        </form>
        <hr />
        <form  action="/WD_/query_wd_3" method="post">
            <div style="margin-top:15px;margin-left:30px;">
                <label style="width:220px">查询确定信息:</label>
                <label >请输入维度信息名</label>
                <input name="data_name" value=@ViewData["data_name3"]  />
                <input type="submit" style="margin-left:10px" value="确定" />
            </div>
        </form>
        <hr />
        <div>
            <h4>搜索结果:</h4>
            <hr />
            <div>
                <table>
                    <tr>
                        <td style="width:200px">维度名称</td>
                        <td style="width:200px"> 信息id</td>
                        <td style="width:200px"> 信息名称</td>
                        <td style="width:200px"> 父类id</td>
                        <td style="width:200px"> 备注 </td>
                    </tr>
                </table>
                <table id='myMsgTable'>
                    @if (data.Count == 0)
                    {
                        <tr>
                            <td>请输入正确查询条件，并点击查询。</td>
                        </tr>

                    }
                    else
                    {
                        for (int i = 0; i < data.Count; i++)
                        {
                            <tr>
                                <td style="width:200px">@data[i].TYPE</td>
                                <td style="width:200px">@data[i].ID</td>
                                <td style="width:200px">@data[i].NAME</td>
                                <td style="width:200px">@data[i].F_ID</td>
                                <td style="width:200px">@data[i].Remarks</td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
</div>

