@{
    ViewData["Title"] = "资产添加";

    var CR_M = (List<string>)ViewData["CR_M"];
    var E_M = (List<string>)ViewData["E_M"];
    var KZJ = (List<YSX_Model>)ViewData["KZJ_Names"];
    var ty_names = (List<string>)ViewData["ty_names"];
    var zy_names = (List<string>)ViewData["zy_names"];
}
<div style="width: 975px;height: 500px;margin-left: 70px;margin-right: 70px;background: rgba(255, 255, 255, 0.65);border: solid 3px;border-color: #0aafb7;overflow-y:auto; overflow-x:auto;">
    <div id="classify">
        <label>类别选择:</label>
        <form action="/Home/addZCTYPE_OK" method="post">
            <ul>
                <li>
                    <div>
                        <label style="margin-left:10px;">请选择门类：</label>
                        <select name="Kindda" id="Kindda" style="margin-left:5px;" v-on:change="Kinddachange">
                            <option v-for="value in classify" v-bind:value="value.Kindda">
                                {{ value.Kindda }}
                            </option>
                        </select>
                        <label style="margin-left:10px;">请选择大类：</label>
                        <select name="One_Class" id="One_Class" style="margin-left:5px;" v-on:change="One_Classchange">
                            <option v-for="value in One_Class" v-bind:value="value">
                                {{ value }}
                            </option>
                        </select>
                        <label style="margin-left:10px;">请选择中类：</label>
                        <select name="Two_Class" id="Two_Class" style="margin-left:5px;" v-on:change="Two_Classchange">
                            <option v-for="value in Two_Class" v-bind:value="value">
                                {{ value }}
                            </option>
                        </select>
                    </div>
                </li>
            </ul>
            <hr />
            <div>
                <label>通用元属性:</label>
                <ul id="tongyong">
                    @foreach (string key in ty_names)
                    {
                        <li style="display: inline-block">
                            <label style="width:100px;float:left" align="left">@key</label>
                        </li>
                    }
                </ul>
                <hr />
            </div>
            <div>
                <label>专用元属性:</label>
                <ul id="zhuanyong"></ul>
                <hr />
            </div>
            <div>
                <label>预定义扩展元属性:</label>
                <ul id="kz_ydy"></ul>
                <hr />
            </div>
            <div>
                <label>扩展属性:</label>
                <label style="font-size:smaller;">单击按钮添加扩展属性</label>
                <input type="button" value="添加" onclick="kuozhan_add()" disabled="disabled" id="kz_button" />
                <ul id="kuozhan"></ul>
                <hr />
            </div>
            <div>
                <input type="button" style="float:right;margin-right:25px" value="取消" />
                <input type="submit" style="float:right;margin-right:25px" value="提交" />
                <hr style="display:inline" />
            </div>
        </form>
    </div>
</div>
<div style="display:none">

    <select id="kz" style="display:none">
        @foreach (var name in KZJ)
        {
            <option> @name.Name </option>
        }
    </select>
    <ul id="em_zy">
        @foreach (var i in zy_names)
        {
            <li>@i</li>
        }
    </ul>
    <ul id="em_yd">
        @for (var i = 0; i < E_M.Count; i++)
        {
            <li>@E_M[i]</li>
        }
    </ul>
    <ul id="crm_zy">
        @foreach (var i in zy_names)
        {
            <li>@i</li>
        }
    </ul>
    <ul id="crm_yd">
        @for (var i = 0; i < CR_M.Count; i++)
        {
            <li>@CR_M[i]</li>
        }
    </ul>
</div>
<script type="text/javascript">
    var kz_sum = 0;
    function kuozhan_add() {
        kz_sum++;
        var ul = document.getElementById("kuozhan");

        var li = document.createElement("li");
        var label1 = document.createElement("label");
        var select = document.createElement("select");

        li.style = "display: inline-block;margin-left:50px";

        var sl = document.getElementById("kz");
        var a = sl.getElementsByTagName("option");
        for (var i = 0; i < a.length; i++) {
            var option = document.createElement("option");
            option.innerHTML = a[i].innerHTML;
            select.appendChild(option);
        }

        label1.innerHTML = "请选择扩展属性名称";
        label1.style = "margin-left:20px";
        select.style = "margin-left:20px";
        
        select.name = "kz_key_" + kz_sum.toString();

        li.appendChild(label1);
        li.appendChild(select);
        ul.appendChild(li);
    }
</script>
<script>
    new Vue({
        el: '#classify',
        data: {
            classify: [
                {
                    "Kindda": "-- 门类 --",
                    "One_Class": ["-- 大类 --"],
                    "Two_Class": [["-- 中类 --"],],
                },
                {
                    "Kindda": "有形资产",
                    "One_Class": ["-- 大类 --", "工程建筑", "设备仪器", "装具用具", "图书档案", "标本生物", "材料物品"],
                    "Two_Class": [
                        ["-- 中类 --"],
                        ["-- 中类 --",],
                        ["-- 中类 --", "计算机设备"],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                        ["-- 中类 --", "文物"],
                    ],
                },
                {
                    "Kindda": "无形资产",
                    "One_Class": ["-- 大类 --", "许可权益", "知识产权", "数据信息", "自然资源", "金融账款"],
                    "Two_Class": [
                        ["-- 中类 --"],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                        ["-- 中类 --",],
                    ],
                },
            ],
            One_Class: ["-- 大类 --",],
            Two_Class: ["-- 中类 --",],
            flag: 1,
        },
        mounted() {
            document.getElementsByName("Kindda")[0].selectedIndex = 1;
            this.time();
            this.addzhuanyong();
            setInterval(this.time, 10);
            setInterval(this.addzhuanyong, 10);
        },
        methods: {
            //发生改变后，index=0
            One_Classchange: function () {
                document.getElementsByName("Two_Class")[0].selectedIndex = 0;
                this.flag = 1;
            },
            Two_Classchange: function () {
                //document.getElementsByName("Two_Class")[0].selectedIndex = 0;
                var ul = document.getElementById("kuozhan");
                for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                    ul.removeChild(ul.childNodes[i]);
                }
                this.flag = 0;
            },
            Kinddachange: function () {
                document.getElementsByName("One_Class")[0].selectedIndex = 0;
                document.getElementsByName("Two_Class")[0].selectedIndex = 0;
                this.flag = 1;
            },

            //下拉框联动
            time: function () {
                var Kindda = document.getElementsByName("Kindda")[0].value;
                for (i in [0, 1, 2]) {
                    if (Kindda == this.classify[i].Kindda) {
                        document.getElementsByName("One_Class")[0].tabIndex = 0;
                        document.getElementsByName("Two_Class")[0].tabIndex = 0;
                        this.One_Class = this.classify[i].One_Class;
                        break;
                    }
                }
                var One_Class = document.getElementsByName("One_Class")[0].value;
                for (j in [0, 1, 2, 3, 4, 5, 6]) {
                    if (One_Class == this.One_Class[j]) {
                        document.getElementsByName("Two_Class")[0].tabIndex = 0;
                        this.Two_Class = this.classify[i].Two_Class[j];
                    }
                }
            },
            //专用属性联动
            addzhuanyong: function () {
                if (this.flag) {
                    if ("-- 中类 --" == document.getElementById("Two_Class").value) {

                        var ul = document.getElementById("zhuanyong");
                        ul.innerHTML = "请先选择类别";
                        var ul = document.getElementById("kz_ydy");
                        ul.innerHTML = "请先选择类别";
                        document.getElementById("kz_button").disabled = "disabled";

                        var ul = document.getElementById("kuozhan");
                        for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                            ul.removeChild(ul.childNodes[i]);
                        }
                        this.flag = 1;
                    }
                }
                else {
                    if ("-- 中类 --" != document.getElementById("Two_Class").value) {
                        if ("计算机设备" == document.getElementById("Two_Class").value) {
                            var ul = document.getElementById("zhuanyong");
                            for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                                ul.removeChild(ul.childNodes[i]);
                            };

                            for (var i = 0; i < document.getElementById("em_zy").childElementCount; i++) {
                                var li = document.createElement("li");
                                var label = document.createElement("label");
                                li.style = "display: inline-block";
                                label.innerHTML = document.getElementById("em_zy").children[i].innerHTML;
                                label.style = "width:100px;float:left";
                                label.align = "right";
                                li.appendChild(label);
                                ul.appendChild(li);
                            }
                            this.flag = 1;

                            var ul = document.getElementById("kz_ydy");
                            for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                                ul.removeChild(ul.childNodes[i]);
                            };
                            for (var i = 0; i < document.getElementById("em_yd").childElementCount; i++) {
                                var li = document.createElement("li");
                                var label = document.createElement("label");
                                li.style = "display: inline-block";
                                label.innerHTML = document.getElementById("em_yd").children[i].innerHTML;
                                label.style = "width:100px;float:left";
                                label.align = "right";
                                li.appendChild(label);
                                ul.appendChild(li);
                            }
                            document.getElementById("kz_button").disabled = false;

                            this.flag = 1;
                        }
                        else if ("文物" == document.getElementById("Two_Class").value) {
                            var ul = document.getElementById("zhuanyong");
                            for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                                ul.removeChild(ul.childNodes[i]);
                            };

                            for (var i = 0; i < document.getElementById("crm_zy").childElementCount; i++) {
                                var li = document.createElement("li");
                                var label = document.createElement("label");
                                li.style = "display: inline-block";
                                label.innerHTML = document.getElementById("crm_zy").children[i].innerHTML;
                                label.style = "width:100px;float:left";
                                label.align = "right";
                                li.appendChild(label);
                                ul.appendChild(li);
                            }
                            this.flag = 1;

                            var ul = document.getElementById("kz_ydy");
                            for (var i = ul.childNodes.length - 1; i >= 0; i--) {
                                ul.removeChild(ul.childNodes[i]);
                            };
                            for (var i = 0; i < document.getElementById("crm_yd").childElementCount; i++) {
                                var li = document.createElement("li");
                                var label = document.createElement("label");
                                li.style = "display: inline-block";
                                label.innerHTML = document.getElementById("crm_yd").children[i].innerHTML;
                                label.style = "width:100px;float:left";
                                label.align = "right";
                                li.appendChild(label);
                                ul.appendChild(li);
                            }
                            document.getElementById("kz_button").disabled = false;

                            this.flag = 1;
                        }

                    }
                }
            },
        }
    })

</script>