@{
    ViewData["Title"] = "元属性查询";
    var wd_list = (List<string>)ViewData["wd_list"];
    var YSX_DATA = (List<YSX_Model>)ViewData["YSX_DATA"];
}
<div style="width: 975px;height: 500px;margin-left: 70px;margin-right: 70px;background: rgba(255, 255, 255, 0.65);border: solid 3px;border-color: #0aafb7;overflow-y:auto; overflow-x:auto;">
    <div>
        <h2 align="center">元属性查询</h2>
        <hr />
        <form action="/Home/query_ysx_1" method="post">
            <div style="margin-top:15px;margin-left:30px;">
                <label style="width:220px">查询同一维度信息下所有元属性:</label>
                <label>维度:</label>
                <select name="wd_name">
                    <option>资产类别维度</option>
                    <option>应用特性维度</option>
                    <option>管理者维度</option>
                    <option>自定义维度</option>
                </select>
                <label>维度信息:</label>
                <input name="wdxx_name" value=@ViewData["wd_name"] />
                <!--<label>父类:</label>
    <input name="f_l" value=@ViewData["f_l"] />-->
                <input type="submit" style="margin-left:10px" value="确定" />
            </div>
        </form>
        <hr />
        <form action="/Home/query_ysx_2" method="post">
            <div style="margin-top:15px;margin-left:30px;">
                <label>查询单一元属性，</label>
                <label>请输入元属性名称:</label>
                <input name="ysx_name" value=@ViewData["ysx_name"] />
                <input type="submit" style="margin-left:10px" value="确定" />
            </div>
        </form>
        <hr />
        <div>
            <h4>搜索结果:</h4>
            <hr />
            <div>
                <table>
                    <tr>
                        @if (wd_list.Count == 0)
                        {
                            <td>请先输入正确的条件并查询。</td>
                        }
                        else
                        {
                            <td style="width:200px">元属性名称</td>
                            <td style="width:200px">元属性id</td>
                            for (int i = 0; i < wd_list.Count; i++)
                            {
                                <td style="width:200px">@wd_list[i]</td>
                            }
                            <td style="width:200px"> 长度 </td>
                            <td style="width:200px"> 版本 </td>
                            <td style="width:200px"> 备注 </td>
                        }
                    </tr>
                </table>
                <hr />
                <table id='myMsgTable'>
                    @for (int i = 0; i < YSX_DATA.Count; i++)
                    {
                    <tr>
                        <td style="width:200px">@YSX_DATA[i].Name</td>
                        <td style="width:200px">@YSX_DATA[i].ID</td>
                        <td style="width:200px">@YSX_DATA[i].Dimension_dic["应用特性维度"]</td>
                        <td style="width:200px">@YSX_DATA[i].Dimension_dic["管理者维度"]</td>
                        <td style="width:200px">@YSX_DATA[i].Dimension_dic["资产类别维度"]</td>
                        <td style="width:200px">@YSX_DATA[i].Dimension_dic["自定义维度"];</td>
                        <td style="width:200px">@YSX_DATA[i].Length</td>
                        <td style="width:200px">@YSX_DATA[i].Edition</td>
                        <td style="width:200px">@YSX_DATA[i].Remarks</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<script>
</script>
